/build_cmake
/src/modules/greet/generated_code/*.cpp~
/src/modules/osg/generated_code/*.cpp~
/src/modules/osgDB/generated_code/*.cpp~
generate_module.stamp
/src/modules/*.pyc
/src/modules/osgViewer/generated_code/*.cpp~
/src/modules/osgGA/generated_code/*.cpp~
/src/modules/osgViewer/wrap_log.txt
/src/modules/osgUtil/generated_code/*.cpp~
/src/modules/osgUtil/wrap_log.txt
/src/modules/osg/wrap_log.txt
/src/modules/osgDB/wrap_log.txt
/src/modules/osgGA/wrap_log.txt
/src/modules/osgText/generated_code/*.cpp~
/examples/test.py
/examples/cow2.py
/build
/dist
/osgpyplusplus.egg-info
/src/osgpypp/*.dll
/src/osgpypp/osgPlugins-3.2.1/*.dll
