*.cpp~
*.hpp~
*.pyc
generate_module.stamp
wrap_log.txt
/build_cmake
/src/modules/osgViewer/wrap_log.txt
/src/modules/osgUtil/generated_code/*.cpp~
/examples/test.py
/examples/cow2.py
/build
/dist
/osgpyplusplus.egg-info
/src/osgpypp/*.dll
/src/osgpypp/osgPlugins-3.2.1/*.dll
/osgpypp.egg-info
*.py~
